<script>
    function print_pdf(url){
        var iFrameJQueryObject = $('<iframe id="id_iframe" src="'+url+'" style="display:none"></iframe>');
        $('body').append(iFrameJQueryObject);
        iFrameJQueryObject.on('load', function() {
            $(this).get(0).contentWindow.print();
        });
    }

    $('#id_nav_btn_barcode').click(function() {
        if (!$(this).hasClass("disabled")) {
             var unique = $('#id_table').find('#id_unique').find("td:first").text();
             var version = $('#id_table').find('#id_unique').find("td.version").text();
            $.ajax({
                method: "POST",
                url: "/" + "{{ content }}" + "/label/",
                data: {
                    'unique': unique,
                    'version': version
                },
                dataType: 'json',
                success: function (data) {
                    if (data.response) {
                        // open print dialog
                        print_pdf(data.pdf);
                    } else {
                        alert("Error im Backend.");
                    }
                }
            });
        }
    });
</script>